<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Simple.Data.Properties.Settings.DefaultConnectionString"
			connectionString="Server=.\SQLEXPRESS;Initial Catalog=mmcrawler;Integrated Security=true;MultipleActiveResultSets=True" />
	</connectionStrings>
	<system.net>
	</system.net>
</configuration>